<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.gboard">
	<!-- 상세보기 쿼리 -->
	<select id="select" resultType="com.spring.board.domain.GBoardVO">
		SELECT * FROM gameGradeBoard WHERE bNum = #{bNum}
	</select>
	<!-- 상세보기 쿼리 -->
	
	<!-- 게시글 목록 -->
	<select id="list" resultType="com.spring.board.domain.GBoardVO" parameterType="map">
		SELECT * FROM gameGradeBoard ORDER BY reRef DESC, reSeq ASC offset #{page} limit 15
	</select>
	<!-- 게시글 목록 -->
	
	<!-- 제일큰 글번호 뽑기  -->
	<select id="reRef" resultType="int">
		SELECT max(bNum) FROM gameGradeBoard 
	</select>
	<!-- 제일큰 글번호 뽑기 -->
	
	<!-- 게시글 입력 쿼리  -->
	<insert id="insert">
      INSERT INTO gameGradeBoard(bYear, bMonth, bTitle, bContent, bReadCount, password, fileName, reRef, reLev, reSeq, recommend, report, notice, bWriteDate,userEmail)
      VALUES(#{bYear},#{bMonth}, #{bTitle}, #{bContent}, #{bReadCount}, #{password}, #{fileName}, #{reRef}, #{reLev}, #{reSeq}, #{recommend}, #{report}, #{notice}, now(), #{userEmail}) 
   </insert>
	<!-- 게시글 입력 쿼리  -->
	
	<!-- 게시글 수정 쿼리 -->
	<update id="update">
		UPDATE gameGradeBoard SET bTitle = #{bTitle}, bContent=#{bContent} WHERE bNum = #{bNum}
	</update>
	<!-- 게시글 수정 쿼리 -->
	
	<!-- 그룹내 답글 순서 재배치 -->
	<update id="seqUp">
		UPDATE gameGradeBoard SET reSeq = reSeq+1 WHERE reRef = #{reRef} and reSeq > #{reSeq}
	</update>
	<!-- 그룹내 답글 순서 재배치 -->
	
	<!-- 조회수 증가 쿼리 -->
	<update id="updateReadCount">
		UPDATE gameGradeBoard SET bReadCount = bReadCount + 1 WHERE bNum = #{bNum}
	</update>
	<!-- 조회수 증가 쿼리 -->
	
	<!-- 게시글 삭제 쿼리 -->
	<delete id="delete">
		DELETE FROM gameGradeBoard WHERE bNum = #{bNum}
	</delete>
	<!-- 게시글 삭제 쿼리 -->
	
	<!-- 총 게시글 갯수 쿼리  -->	
	<select id="allCount"  resultType="int" parameterType="map">
		SELECT count(*) FROM gameGradeBoard
	</select>
	<!-- 총 게시글 갯수 쿼리  -->
	
	<!-- 검색 쿼리 -->
	
	<select id="searchAll" resultType="com.spring.board.domain.GBoardVO" parameterType="map">
		SELECT * FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and (bTitle LIKE CONCAT('%',#{keyword},'%') or bContent LIKE CONCAT('%',#{keyword},'%')) ORDER BY bNum DESC
	</select>
	
	<select id="searchTitle" resultType="com.spring.board.domain.GBoardVO" parameterType="map">
		SELECT * FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and bTitle LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<select id="searchContent" resultType="com.spring.board.domain.GBoardVO" parameterType="map">
		SELECT * FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and bContent LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<select id="searchWritert" resultType="com.spring.board.domain.GBoardVO" parameterType="map">
		SELECT * FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and userEmail LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<select id="searchAllCount" resultType="int" parameterType="map">
		SELECT count(*) FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and (bTitle LIKE CONCAT('%',#{keyword},'%') or bContent LIKE CONCAT('%',#{keyword},'%')) ORDER BY bNum DESC
	</select>
	
	<select id="searchTitleCount" resultType="int" parameterType="map">
		SELECT count(*) FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and bTitle LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<select id="searchContentCount" resultType="int" parameterType="map">
		SELECT count(*) FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and bContent LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<select id="searchWritertCount" resultType="int" parameterType="map">
		SELECT count(*) FROM gameGradeBoard WHERE bYear=#{bYear} and bMonth =#{bMonth} and userEmail LIKE CONCAT('%',#{keyword},'%') ORDER BY bNum DESC
	</select>
	
	<!-- 검색 쿼리 -->
	
	
</mapper>