<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.level">
	
	<insert id="insert">
		INSERT INTO levels (point, levels) VALUES(#{point}, #{levels})
	</insert>
	
	<delete id="delete">
		DELETE FROM levels WHERE num = #{num}
	</delete>

	<select id="select" resultType="com.spring.board.domain.LevelVO">
		SELECT * FROM levels where num = #{num}
	</select>
		
	<select id="list" resultType="com.spring.board.domain.LevelVO">
		SELECT * FROM levels ORDER BY levels ASC
	</select>

	<select id="selectMyLevel" resultType="com.spring.board.domain.LevelVO">
		<![CDATA[
			SELECT * FROM levels WHERE point <= #{point} ORDER BY point DESC offset 0 limit 1
		]]>
	</select>
	
	<update id="update">
		UPDATE levels SET point = #{point}, levels = #{levels} WHERE num = #{num} 
	</update>
	
	<select id="count" resultType="int">
		SELECT count(*) FROM levels
	</select>
	
</mapper>